# Welcome to the external Microsoft SQL Server

This service helps with external Microsoft SQL Server databases:

- creation of connection string as configuration to dependent services

- creation of migration jobs


This services also provides a local Microsoft SQL Server database for development and testing purposes.
